// @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

.Outfit-300 {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
}

.Outfit-400 {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

.Outfit-500 {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
}

.Outfit-600 {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
}

.Outfit-700 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}