.home-about-section {
    .home-about-subtext {
        font-family: 'Outfit', sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 1.75em;
    }

    .home-about-img-div {
        .home-about-inner-img-div {
            padding: 0 20px 20px 0px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 20px;
                right: 0;
                left: 30px;
                bottom: 0;
                background-color: #e3dbd3;
                z-index: 1; // Behind the image
            }

            .home-about-img {
                position: relative;
                z-index: 2;
                background: transparent;
                transition: all 0.5s;

                &:hover {
                    transform: scale(0.95);
                }
            }

            .home-about-text-circle {
                position: absolute;
                right: -150px;
                bottom: -150px;
                z-index: 2;
            }
            #circle text{
                font-family: Outfit, sans-serif;
                    font-size: 12px;
                    font-weight: 700;
                    letter-spacing: 6.3px;
                    text-transform: uppercase;
            }

            .rotate-circle svg {
                animation: spin 20s linear infinite;
            }

            @keyframes spin {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }

        }
    }
}