
.loading {
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 500;

    span {
        display: inline-block;
        // margin: 0 -.05em;
    }
}

/* code #1 */
.loading01 {
    span {
        animation: loading01 1.4s infinite alternate;

        @for $i from 0 through 6 {
            &:nth-child(#{$i+1}) {
                animation-delay: #{$i*.1}s;
            }
        }
    }
}

@keyframes loading01 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}